.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: $white;
  padding: rem-calc(20) 0;
  &__logo, &__about {
    font-size: rem-calc(18);
  }
  &__about {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $primary-color;
    }
  }
}